body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(107, 107, 107);
}
#top {
    font-size: xx-large;
    text-align: center;
    text-decoration: rgb(255, 255, 255);
}